/* Estilos base */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos globales para todos los elementos */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Comfortaa'; /* Se aplica la fuente Comfortaa a todos los elementos */
    cursor: url("/files/img/pointer_1315\ \(1\).png"), auto; /* Se utiliza una imagen personalizada como cursor */
}

/* Estilos para el cuerpo del documento */
body {
    background-color: #eff6ff; /* Color de fondo del cuerpo */
    margin: 0;
    overflow-x: hidden; /* Se oculta la barra de desplazamiento horizontal */
}

/* Estilos para el encabezado principal */
.main-header {
    position: relative;
    padding: 10px;
    background-color: #fff; /* Color de fondo del encabezado */
    width: 70.1%; /* Ancho del encabezado */
    border-radius: 1.5em 1.5em 0em 0em; /* Borde redondeado */
    display: flex;
    top: 1em;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 3px 100px 0 #375bb6; /* Sombra */
    left: 50%;
    transform: translate(-50%); /* Centrado horizontal */
    z-index: 1000;
}

/* Estilos para los enlaces del logotipo, menú de navegación y barra de búsqueda en el encabezado */
.main-header .logo-link, .main-nav, .search-bar {
    margin-left: 2em;
}

/* Estilos para el enlace del logotipo en dispositivos móviles */
.main-header .logo-link-mobile {
    display: none;
}

/* Estilos para el enlace del título en dispositivos móviles */
.main-header .title-link-mobile {
    display: none;
}

/* Estilos para las imágenes en el encabezado */
.main-header img {
    width: 3em;
}

/* Estilos para la lista de navegación */
.nav-list {
    display: flex;
}

/* Estilos para los elementos de la lista de navegación */
.nav-list li {
    list-style: none;
    margin-left: 2em;
}

/* Estilos para los enlaces de la lista de navegación */
.nav-list li a {
    position: relative;
    font-size: 1em;
    color: #375bb6;
    font-weight: 500;
    text-decoration: none;
}

/* Estilos para los iconos dentro de los enlaces de la lista de navegación */
.nav-list li a i {
    position: relative;
    left: 3px;
    align-items: center;
}

/* Estilos para el efecto hover en los enlaces de la lista de navegación */
.nav-list li a::after {
    position: absolute;
    background-color: #375bb6;
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    top: 1.5em;
    transition: 300ms all;
}

/* Estilos para el efecto hover en los enlaces de la lista de navegación */
.nav-list > li > a:hover::after {
    width: 100%;
}

/* Estilos para la barra de búsqueda */
.search-bar input{
    position: relative;
    font-size: .9em;
    width: 5em;
    transition: 300ms all;
    height: 4vh;
    border: none;
    outline: none;
    margin-left: 2em;
}

/* Estilos para el efecto hover en el texto del marcador de posición de la barra de búsqueda */
.search-bar input:hover::placeholder {
    color: #375bb6;
}

/* Estilos para el foco en la barra de búsqueda */
.search-bar input:focus {
    width: 8em;
}

/* Estilos para el botón de búsqueda */
.search-bar button {
    border: none;
    background: transparent;
}

/* Estilos para el icono del botón de búsqueda */
.search-bar button i {
    font-size: 1.1em;
    cursor: pointer;
    color: #375bb6;
}

/* Estilos para el icono de menú hamburguesa en dispositivos móviles */
.hamburger {
    display: none;
}

/* Estilos para el submenu */
.submenu {
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 100%;
    top: 100%;
    height: 0;
    right: 0;
    border-radius: 0px 0px 40px 40px; 
    overflow: hidden;
    transition: 300ms all;
}

/* Estilos para los elementos del submenu */
.submenu li {
    display: flex;
    align-items: center;
    width: 30vw; 
    height: 30vh;
    margin: 0;
    border-left: 1px 0px 0px 0px solid #375bb6;
    border-radius: 2vw; 
    transition: 300ms all;
}

/* Estilos para el hover en los elementos del submenu */
.submenu li:hover {
    background-color: #eeeeee;
}

/* Estilos para los enlaces dentro de los elementos del submenu */
.submenu li a { 
    display: grid;
    margin: 0 auto;
}

/* Estilos para las imágenes dentro de los elementos del submenu */
.submenu li a img {
    width: 80%;
    margin: 0 auto;
    height: 15vh;
}

/* Estilos para los textos dentro de los elementos del submenu */
.submenu li a span {
    position: relative;
    top: 20px;
    margin: 0 auto;
}

/* Estilos para mostrar el submenu al hacer foco en el primer enlace de la lista de navegación */
.nav-list li a:first-child:focus ~ .submenu {
    height: 30vh;
}

/* Estilos para la sección principal del contenido */
.main-content {
    position: relative;
}

/* Estilos para la sección hero */
.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #182138ef;
    top: 1em;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la información en la sección hero */
.hero-info {
    width: 50%;
    height: auto;
    display: block;
}

/* Estilos para los títulos en la sección hero */
.hero-info h2{
    color: #fff;
}

/* Estilos para los párrafos en la sección hero */
.hero-info p {
    color: #ffffff;
    font-size: 12px;
    width: 100%;
}

/* Estilos para los botones en la sección hero */
.hero-info button {
    position: relative;
    background-color: transparent;
    font-weight: 900;
    width: 180px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    z-index: 1;
}

/* Estilos para el efecto hover en los botones de la sección hero */
.hero-info button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 300ms all;
}

/* Estilos para el efecto hover en los botones de la sección hero */
.hero-info button:hover::before {
    height: 100%;
}

/* Estilos para el hover en los botones de la sección hero */
.hero-info button:hover {
    color:#375bb6;
}

/* Estilos para las imágenes en la sección hero */
.hero-image img{
    width: 300px;
}

/* Estilos para la sección de tarjetas destacadas */
.featured-cards-section {
    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    top: 1em;
    box-shadow: 0 3px 100px 0 #8899af;
}

/* Estilos para el título de la sección de tarjetas destacadas */
.featured-cards-section > h2 {
    position: relative;
    top: .5em;
    display: flex;
    justify-content: center;
    position: relative;
    color: #375bb6;
}

/* Estilos para el contenedor de las tarjetas */
.cards-container {
    position: relative;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para las tarjetas */
.card {
    display: flex;
    margin: 8px auto;
    width: 32vh;
    height: 40vh;
    cursor: pointer;
    border-radius: 2em;
    overflow: hidden;
    transition: 300ms all;
}

/* Estilos para los títulos en las tarjetas */
.card h3 {
    position: absolute;
    font-size: 1.1em;
    color: #ffffff;
    display: flex;
    margin: 1.5em;
}

/* Estilos para la información de las tarjetas */
.card-info {
    position: relative;
    background: #fafafa10;
    backdrop-filter: blur(1em);
    width: 100%;
    height: 100%;
    left: -100%;
    visibility: hidden;
    margin: 0;
    border-radius: 2em;
    padding: 30px;
    transition: 500ms all;
}

/* Estilos para los títulos en la información de las tarjetas */
.card-info h2 {
    font-size: 1.1em;
    color: #fff;
    margin: -7px;
}

/* Estilos para los párrafos en la información de las tarjetas */
.card-info > p{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .9em;
    height: 50%;
    overflow-y: scroll;
    scrollbar-width: none;
    color: #fff;
}

/* Estilos para la información de la fecha en las tarjetas */
.card-info-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    bottom: 5px;
}

/* Estilos para los párrafos de la fecha en las tarjetas */
.card-info-date p {
    width: 100%;
    color: #fff;
}

/* Estilos para mostrar la información de las tarjetas al hacer hover */
.card:hover .card-info{
    position: relative;
    visibility: visible;
    left: 0;
}

/* Estilos para la sección de información de consolas */
.consoles-info-section {
    position: relative;
    width: 70%;
    height: auto;
    box-shadow: 0 3px 100px 0 #8899af;
    margin: 0 auto;
    top: 1em;
}

/* Estilos para el título de la sección de información de consolas */
.consoles-info-section > h2 {
    position: relative;
    display: flex;
    justify-content: center;
    color: #375bb6;
    padding: 10px;
}

/* Estilos para el separador debajo del título de la sección de información de consolas */
.consoles-info-section > h2::before {
    position: absolute;
    content: '';
    background-color: #375bb6;
    width: 100%;
    height: 1px;
    bottom: 0;
}

/* Estilos para el contenedor de consolas */
.consoles-container {
    position: relative;
}

/* Estilos para las consolas */
.console {
    position: relative;
    display: flex;
    height: auto;
    border-bottom: 1px solid #375bb6;
}

/* Estilos para las imágenes de las consolas */
.console-img {
    position: relative;
    border-right: 1px solid #375bb6;
    width: 35%;
    height: 100%;
}

/* Estilos para las imágenes dentro de las consolas */
.console-img img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 15em;
}

/* Estilos para la información de las consolas */
.console-info {
    display: grid;
    position: relative;
    padding-left: 30px;
    align-items: center;
    width: 85%;
    gap: 15px;
}

/* Estilos para los títulos en la información de las consolas */
.console-info h2{
    position: relative;
    width: 85%;
    color: #375bb6;
}

/* Estilos para los elementos de lista en la información de las consolas */
.console-info li {
    position: relative;
    width: 90%;
    color: #375bb6;
}

/* Estilos para los botones en la información de las consolas */
.console-info button {
    position: relative;
    width: 140px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #375bb6;
    color: #375bb6;
    opacity: .9;
    transition: 300ms all;
}

/* Estilos para el hover en los botones en la información de las consolas */
.console-info button:hover {
    background-color: #375bb6;
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

/* Estilos para el contenedor del pie de página */
.footer-container {
    position: relative;
    width: 70%;
    height: auto;
    top: 1em;
    margin: 0 auto;
    box-shadow: 0 3px 100px 0 #8899af;
    display: flex;
    justify-content: center;
    background-color: #0a183b;
    flex-wrap: wrap;
}

/* Estilos para los artículos del pie de página */
.footer-article {
    position: relative;
    width: auto;
    margin: 20px;
    width: 290px;  
}

/* Estilos para los enlaces dentro de los artículos del pie de página */
.footer-article:last-child a {
    display: inline-flex;
    font-size: 25px;
    color: #ccd2da;
}

/* Estilos para los títulos dentro de los artículos del pie de página */
.footer-article h2 {
    position: relative;
    padding: 10px;
    margin-top: 15px;
    color: #fff;
    border-top: 1px solid #fff;
}

/* Estilos para los enlaces dentro de los artículos del pie de página */
.footer-article a {
    position: relative;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* Estilos para el hover en los enlaces dentro de los artículos del pie de página */
.footer-article a:hover {
    text-decoration: underline;
}

/*  */

/* Media query para pantallas con un ancho máximo de 1390px */
@media screen and (max-width:1390px) {
    .main-header, .hero-section, .featured-cards-section, .consoles-info-section {
        width: 90%; /* Se ajusta el ancho de las secciones al 90% */
    }

    .footer-container {
        width: 90%; /* Se ajusta el ancho del pie de página al 90% */
    }
}

/* Media query para pantallas con un ancho máximo de 860px */
@media screen and (max-width:860px) {
    .main-header, .hero-section, .featured-cards-section, .consoles-info-section {
        position: relative;
        top: 0;
        border-radius: 0;
        width: 100%; /* Se ajusta el ancho de las secciones al 100% */
    }

    .main-header .logo-link {
        display: none; /* Se oculta el enlace del logotipo */
    }

    .main-header .logo-link-mobile {
        display: block; /* Se muestra el enlace del logotipo para dispositivos móviles */
    }
    
    .main-header .title-link-mobile {
        display: block; /* Se muestra el enlace del título para dispositivos móviles */
        font-weight: 600;
    }

    .main-header .title-link-mobile span {
        color: #375bb6;
        font-weight: 600;
    }

    .nav-list {
        position: absolute;
        display: block;
        visibility: hidden;
        width: 100%;
        background-color: #fff;
        left: 50%;
        transform: translate(-50%);
        height: auto;
        top: 4em;
        text-align: center;
        transition: 300ms all;
    }

    .nav-list li {
        position: relative;
        margin: 0;
    }

    .hamburger {
        display: block; /* Se muestra el ícono de menú hamburguesa */
    }

    .hamburger i {
        font-size: 25px;
        color: #375bb6;
    }

    .hamburger:hover + .nav-list,
    .nav-list:hover {
        visibility: visible;
        top: 4em;
        left: 50%;
    }

    .nav-list > li {
        position: relative;
        top: 20px;
        margin-bottom: 40px;
    }

    .submenu {
        position: relative;
        flex-direction: column;
    }

    .submenu li {
        margin: 0 auto;
        border: none;
    }

    .submenu li a img {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .hero-info {
        margin: 20px;
        width: 100%;
    }

    .hero-info h2,p,button {
        width: 90%;
    }

    .hero-image img {
        display: none;
    }

    .console {
        display: block;
        padding-bottom: 10px;
    }

    .console-info {
        width: 100%;
    }

    .console-info h2,p,button{
        width: 100%;
        margin-top: 10px;
    }

    .console-img {
        width: 0;

    }
    .console-img img {
        display: none;
    }

    .footer-container {
        top: auto;
        width: 100%;
    }
}