@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Comfortaa';
    cursor: url("/files/img/pointer_1315\ \(1\).png"), auto;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eff6ff;
    margin: 0;
    overflow-x: hidden;
}

.main-header {
    position: fixed;
    padding: 10px;
    background-color: #fff;
    width: 71%;
    border-radius: 1.5em;
    display: flex;
    top: 2em;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 3px 100px 0 #375bb6;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
}

.main-header .logo-link, .main-nav, .search-bar {
    margin-left: 2em;
}

.main-header img {
    width: 3em;
}

.nav-list {
    display: flex;
}

.nav-list li {
    list-style: none;
    margin-left: 2em;
}

.nav-list li a {
    position: relative;
    font-size: 1em;
    color: #375bb6;
    font-weight: 500;
    text-decoration: none;
}

.nav-list li a i {
    position: relative;
    left: 3px;
    align-items: center;
}

.nav-list li a::after {
    position: absolute;
    background-color: #375bb6;
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    top: 1.5em;
    transition: 300ms all;
}

.nav-list > li > a:hover::after {
    width: 100%;
}

.search-bar input{
    position: relative;
    font-size: .9em;
    width: 5em;
    transition: 300ms all;
    height: 4vh;
    border: none;
    outline: none;
    margin-left: 2em;
}

.search-bar input:hover::placeholder {
    color: #375bb6;
}

.search-bar input:focus {
    width: 8em;
}


.search-bar button {
    border: none;
    background: transparent;
}

.search-bar button i {
    font-size: 1.1em;
    cursor: pointer;
    color: #375bb6;
}

.hamburger {
    display: none;
}
/* SUBMENU -- Consolas */

.submenu {
    position: absolute;
    display: flex;
    background-color: #fff;
    width: 100%;
    top: 110%;
    height: 0;
    right: 0;
    border-radius: 2vw; 
    overflow: hidden;
    transition: 300ms all;
}

.submenu li {
    display: flex;
    align-items: center;
    width: 30vw; 
    height: 30vh;
    margin: 0;
    border-left: 1px solid #375bb6;
    border-radius: 2vw; 
    transition: 300ms all;
}

.submenu li:hover {
    background-color: #eeeeee;
}

.submenu li a { 
    display: grid;
    margin: 0 auto;
}

.submenu li a img {
    width: 80%;
    margin: 0 auto;
    height: 15vh;
}

.submenu li a span {
    position: relative;
    top: 20px;
    margin: 0 auto;
}

.nav-list li a:first-child:focus ~ .submenu {
    height: 30vh;
}

/* --------------MAIN - SECTION --------------------*/

.main-content {
    position: relative;
}

.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #182138ef;
    border-radius: 40px;
    top: 7rem;
    width: 70%;
    margin: 0 auto;
}

.hero-info {
    width: 50%;
    height: auto;
    display: block;

}

.hero-info h2{
    color: #fff;
}

.hero-info p {
    color: #ffffff;
    font-size: 12px;
    width: 100%;
}

.hero-info h2 span {
    color: #fcfcff;
}

.hero-info button {
    position: relative;
    background-color: transparent;
    font-weight: 900;
    width: 180px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    z-index: 1;
}

.hero-info button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 300ms all;
}

.hero-info button:hover::before {
    height: 100%;
}

.hero-info button:hover {
    color:#375bb6;
}

.hero-image img{
    width: 300px;
}

.featured-cards-section {
    position: relative;
    width: 70%;
    height: auto;
    margin: 0 auto;
    top: 8em;
    border-radius: 40px;
    box-shadow: 0 3px 100px 0 #8899af;
}

.featured-cards-section > h2 {
    position: relative;
    top: .5em;
    display: flex;
    justify-content: center;
    position: relative;
    color: #375bb6;
}

.cards-container {
    position: relative;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    margin: 8px auto;
    width: 32vh;
    height: 40vh;
    cursor: pointer;
    border-radius: 2em;
    overflow: hidden;
    transition: 300ms all;
}

.card h3 {
    position: absolute;
    font-size: 1.1em;
    color: #ffffff;
    display: flex;
    margin: 1.5em;
}

.card-info {
    position: relative;
    background: #fafafa10;
    backdrop-filter: blur(1em);
    width: 100%;
    height: 100%;
    left: -100%;
    visibility: hidden;
    margin: 0;
    border-radius: 2em;
    padding: 30px;
    transition: 500ms all;
}

.card-info h2 {
    font-size: 1.1em;
    color: #fff;
    margin: -7px;
}

.card-info > p{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .9em;
    color: #fff;
}


.card-info-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    bottom: 5px;
}

.card-info-date p {
    width: 100%;
    color: #fff;
}

.card:hover .card-info{
    position: relative;
    visibility: visible;
    left: 0;
}

.consoles-info-section {
    position: relative;
    width: 70%;
    height: auto;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0 3px 100px 0 #8899af;
    margin: 0 auto;
    top: 9em;
}

.consoles-info-section > h2 {
    position: relative;
    display: flex;
    justify-content: center;
    color: #375bb6;
    padding: 10px;
}

.consoles-info-section > h2::before {
    position: absolute;
    content: '';
    background-color: #375bb6;
    width: 100%;
    height: 1px;
    bottom: 0;
}

.consoles-container {
    position: relative;
}

.console {
    position: relative;
    display: flex;
    height: auto;
    border-bottom: 1px solid #375bb6;
}

.console-img {
    position: relative;
    border-right: 1px solid #375bb6;
    width: 35%;
    height: 100%;
}

.console-img img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 15em;
}

.console-info {
    display: grid;
    position: relative;
    padding-left: 30px;
    align-items: center;
    width: 85%;
    gap: 15px;
}

.console-info h2{
    position: relative;
    width: 85%;
    color: #375bb6;
}

.console-info li {
    position: relative;
    width: 90%;
    color: #375bb6;
}

.console-info button {
    position: relative;
    width: 140px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #375bb6;
    color: #375bb6;
    opacity: .9;
    transition: 300ms all;
}

.console-info button:hover {
    background-color: #375bb6;
    color: #fff;
    opacity: 1;
    cursor: pointer;
}


.footer-container {
    position: relative;
    width: 70%;
    height: auto;
    top: 9.5em;
    margin: 0 auto;
    box-shadow: 0 3px 100px 0 #8899af;
    display: flex;
    justify-content: center;
    background-color: #0a183b;
    flex-wrap: wrap;
    border-radius: 0px 0px 40px 40px;
}

.footer-article {
    position: relative;
    width: auto;
    margin: 20px;
    width: 290px;  
}

.footer-article:last-child a {
    display: inline-flex;
    font-size: 25px;
    color: #ccd2da;
}

.footer-article h2 {
    position: relative;
    padding: 10px;
    margin-top: 15px;
    color: #fff;
    border-top: 1px solid #fff;
}

.footer-article a {
    position: relative;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.footer-article a:hover {
    text-decoration: underline;
}

@media screen and (max-width:1390px) {
    .main-header, .hero-section, .featured-cards-section, .consoles-info-section {
        width: 90%;
    }

    .footer-container {
        width: 90%;
    }
}
@media screen and (max-width:860px) {
    .main-header, .hero-section, .featured-cards-section, .consoles-info-section {
        position: relative;
        top: 0;
        border-radius: 0;
        width: 100%;
    }

    .nav-list {
        position: absolute;
        display: block;
        visibility: hidden;
        width: 100%;
        background-color: #fff;
        left: 50%;
        transform: translate(-50%);
        height: auto;
        text-align: center;
        top: 4em;
        transition: 300ms all;
    }

    .hamburger {
        display: block;
    }

    .hamburger i {
        font-size: 25px;
        color: #375bb6;
    }

    .hamburger:hover + .nav-list,
    .nav-list:hover {
        visibility: visible;
        top: 4em;
        left: 50%;
    }

    .nav-list > li {
        position: relative;
        top: 20px;
        margin-bottom: 40px;
    }

    .submenu {
        position: relative;
        flex-direction: column;
    }

    .submenu li {
        margin: 0 auto;
        border: none;
    }

    .submenu li a img {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .hero-info {
        margin: 20px;
        width: 100%;
    }

    .hero-info h2,p,button {
        width: 90%;
    }

    .hero-image img {
        display: none;
    }

    .console {
        display: block;
        padding-bottom: 10px;
    }

    .console-info {
        width: 100%;
    }

    .console-info h2,p,button{
        width: 100%;
        margin-top: 10px;
    }

    .console-img {
        width: 0;

    }
    .console-img img {
        display: none;
    }

    .footer-container {
        top: auto;
        width: 100%;
        border-radius: 0;
    }
}