.main-header {
    box-shadow: none;
}

.contact-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    top: 1em;
    width: 70%;
    margin: 0 auto;
    padding: 2em;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    flex-wrap: wrap-reverse;
}

.side-info {
    position: relative;
    text-align: center;
    height: 60vh;
    border-right: 2px solid #375bb6;
    display: block;
    width: 600px;
}

.info {
    border-right: 1px solid #fff;
}

.info i, .info h3, .info p {
    color: #375bb6;
    margin-top: 1.1em;
}

.info i {
    font-size: 1.9em;
}

.contact-form {
    display: grid;
    position: relative;
    padding: 2em;
    width: 70%;
    width: 650px;
}

.contact-form h3 {
    color: #375bb6;
}

.contact-form form div{
    margin-top: 2em;
}

.name, .email {
    background-color: #fff;
    border: 1px solid #375bb6;
    width: 100%;
    border-radius: 30px;
    height: 3em;
}

.name input, .email input {
    position: relative;
    width: 90%;
    float: right;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.name input::placeholder, .email input::placeholder {
    color: #375bb6;
}

.name input::placeholder:focus, .email input::placeholder:focus {
    display: none;
    background-color: aqua;
}

.name i, .email i {
    position: relative;
    left: 5%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #375bb6;
    font-size: 20px;
}

.message {
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #375bb6;
    text-align: center;
}

.message textarea {
    position: relative;
    top: 10px;
    width: 90%;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.message textarea::placeholder {
    color: #375bb6;
}

.contact-form-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 900;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    color: #375bb6;
    border: 1px solid #375bb6;
    border-radius: 30px;
    transition: 300ms all;
}

.contact-form-btn i {
    position: relative;
    font-size: 20px;
    left: -10px;
}

.contact-form button:hover {
    background-color: #375bb6;
    color: #fff;
}


@media screen and (max-width:1390px) {
    .contact-section {
        width: 90%; /* Se ajusta el ancho de las secciones al 90% */
    }

    .footer-container {
        width: 90%; /* Se ajusta el ancho del pie de página al 90% */
    }
}

@media screen and (max-width:1237px) {
    .side-info {
        border-right: none;
        border-top: 2px solid #375bb6;
    }
}

/* Media query para pantallas con un ancho máximo de 860px */
@media screen and (max-width:860px) {
    .contact-section {
        position: relative;
        top: 0;
        border-radius: 0;
        width: 100%; /* Se ajusta el ancho de las secciones al 100% */
    }

    .footer-container {
        width: 100%;
    }
}